spring:
  application:
    name: kodama-brain
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:kodama}?useSSL=false&allowPublicKeyRetrieval=true}
    username: ${SPRING_DATASOURCE_USERNAME:${DB_USERNAME:kodama}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DB_PASSWORD:kodama}}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC+2
  flyway:
    enabled: true
    locations: ${SPRING_FLYWAY_LOCATIONS:classpath:db/migration}

node:
  heartbeat-interval-seconds: ${NODE_HEARTBEAT_INTERVAL_SECONDS:30}


server:
  port: 8080
