name: Auto Add Issues to Project

on:
  issues:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.6.1
        with:
          project-url: https://github.com/Spookly-Network/projects/7
          github-token: ${{ secrets.GITHUB_TOKEN }}
